---
import { renderDiagramMemoized } from "./main.ts";
import type { RenderOptions } from "./main.ts";

export interface Props {
  renderOptions?: RenderOptions;
  code: string;
}

const { code = "", renderOptions = {} } = Astro.props;
let result;
try {
  result = await renderDiagramMemoized({ code, ...renderOptions });
} catch (error) {
  console.error(error);
  const errorDiagram = `componentDiagram
    @param componentBackground #f00
    component error [
      Could not render diagram
  ]`;
  result = await renderDiagramMemoized({
    code: errorDiagram,
    backgroundColor: "transparent",
  });
}
---

<div class="pintora">
  <Fragment set:html={result.value} />
</div>

<style>
  .pintora {
    --primaryColor: 221, 214, 254;
    --secondaryColor: 245, 208, 254;
    --tertiaryColor: 244, 244, 245;
    --lineColor: 82, 82, 91;

    --textColor: 63, 63, 70;
    --primaryTextColor: 63, 63, 70;

    --primaryBorderColor: 167, 139, 250;
    --secondaryBorderColor: 232, 121, 249;

    --canvasBackground: 255, 255, 255;
  }
</style>
